.card {
	/* margin-left: 20px; */
	/* padding: 20px; */
	display: flex;
	align-items: center;
	color: white;
	padding: 0 10px 10px 10px;
	/* border-top: 1px solid #282828; */
	/* border-bottom: 0.5px solid #282828; */
	/* position: relative; */
	flex-direction: column;
	/* justify-content: center; */
	/* flex-wrap: wrap; */
	/* max-width: 500px; */
	/* min-width: 500px; */
	width: 200px;
	margin: 10px;
	max-height: 300px;
}

.card:hover {
	/* cursor: pointer; */
	background-color: #282828;
	/* background-color: rgba(91, 87, 115, 0.2); */
	/* opacity: 0.8; */
	/* -webkit-box-shadow: 2px -2px 5px 0px rgba(255, 255, 255, 0.37);
	-moz-box-shadow: 2px -2px 5px 0px rgba(255, 255, 255, 0.37);
	box-shadow: 2px -2px 5px 0px rgba(255, 255, 255, 0.37); */
}

.card__info {
	/* margin-left: 20px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	display: flex;
	flex-wrap: wrap;
    flex-direction: column; */
	width: inherit;
	padding: 10px;
}

.card__info > h1 {
	font-size: 16px;
	/* text-overflow: ellipsis;
	overflow: hidden;
    white-space: nowrap; */
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.card__info > p {
	font-size: 14px;
	color: grey;
	margin-top: 3px;
	/* text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	display: flex;
	flex-wrap: wrap; */
}

.card__container {
	position: relative;
	/* height: 40px;
	width: 40px;
    margin-left: 10px; */
	height: 200px;
	width: 200px;
}

.card__cover {
	height: 200px;
	width: 200px;
	/* margin-left: 10px; */
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
	padding: 10px;
}

.card__overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: 0.3s ease;
	/* background-color: red; */
	background-color: #2828288c;
}

.card__container:hover .card__overlay {
	opacity: 1;
}

.visible {
	opacity: 1;
}

.card__overlayIcon {
	color: gainsboro;
	font-size: 100px;
	position: absolute;
	/* top: 50%; */
	/* left: 50%; */
	/* transform: translate(-50%, -50%); */
	/* -ms-transform: translate(-50%, -50%); */
	transition: 0.3s ease;
	text-align: center;
}

.card__overlayIcon {
	color: white;
	font-size: 100px;
	position: absolute;
	height: 50% !important;
	text-align: center;
	top: 50px !important;
	left: 50px !important;
}

/* .card__cover:hover {
	opacity: 0.3;
	background-image: image("@material-ui/icons/PlayCircleOutline");
} */

.card__overlayIcon > .MuiSvgIcon-root {
	display: flex;
	justify-content: center;
	align-items: center;
}

.card__overlayIcon:hover {
	transition: transform 0.2s ease-in-out;
	transform: scale(1.08) !important;
	/* color: white; */
}

.card__overlayIcon:active {
	transition: transform 0.2s ease-in-out;
	transform: scale(1) !important;
	/* color: white; */
}

.card__savedTrack {
	/* padding-right: 10px; */
	margin-left: 20px;
	color: gray;
	display: flex;
	align-content: center;
}

.card__savedTrack:hover {
	color: #1ed15e;
}

.hidden {
	visibility: hidden;
}

.hide {
	display: none;
}

.card__spinner {
	width: 200px;
	height: 300px;
}

.card__spinner > .css-0 {
	left: 35%;
}
