.header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

.header__left {
	background-color: white;
	display: flex;
	align-items: center;
	color: grey;
	border-radius: 30px;
	padding: 10px;
	/* flex: 0.2; */
	height: 20px;
	min-width: 100px;
	margin-right: 20px;
}

.header__left > input {
	border: none;
	/* background-color: black;
	color: grey; */
	min-width: 0;
	width: 100%;
}

.header__left > input:focus {
	outline: none;
	/* background-color: black;
	color: grey; */
	/* min-width: 0;
	width: 100%; */
}

.header__right {
	display: flex;
	align-items: center;
}

.header__right > h4 {
	margin-left: 10px;
}
