/* body::-webkit-scrollbar {
	display: none;
} */

::-webkit-scrollbar {
	display: none;
}

/* toolbarbutton[class^="scrollbutton"] {
	display: none !important;
} */
/* ::-webkit-scrollbar {
	width: none !important;
} */

* {
	margin: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 100%;
	min-width: 768px;
	min-height: 600px;
	height: 100%;
	overflow: hidden;
	position: fixed;
	/* -ms-overflow-style: none; IE and Edge */
	scrollbar-width: none !important;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
